# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Overview of open source tools for development
- Intro to Jupyter Notebooks
- Intro to R and RStudio
- Intro to Github
- Overview of Libraries for DS

Some of the popular languages that Data Scientists use are: 

1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit Learn
6. Keras
7. TensorFlow
8. PyTorch

| Data Science Tools |
|-------------------|
| MySql |
| Apache Cassandra |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

In [6]:
200/60

3.3333333333333335

## Author
Nathalie M.